:root {
  --nickel: #52554c;
  --green: #273c2c;
  --lavender: #f5e0e0;
  --yellow: #fcab10;
  --red: #fc440f;

  --bg: #393939;
  --text-light: #e6e6e6;

  --transition: 0.5s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--nickel);
  color: var(--lavender);
}

button {
  background-color: var(--green);
  color: var(--lavender);
  border: none;
  border-radius: 4px;
  width: 64px;
  max-width: 64px;
  height: 32px;
  max-height: 32px;
  margin: 4px;
  cursor: pointer;
}

button:hover {
  font-size: 16px;
}

input[type="text"] {
  background-color: var(--green);
  color: var(--lavender);
  border: none;
  border-radius: 4px;
  width: 256px;
  max-width: 256px;
  height: 30px;
  max-height: 30px;
  margin: 4px;
}

input[type="text"]::placeholder {
  color: var(--lavender);
  opacity: 1;
}

input[type="text"]:focus {
  border: var(--yellow) 1px solid;
}
