.HomeContainer {
  background-color: var(--lavender);
  color: var(--nickel);
  width: 800px;
  height: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  align-content: center;
  border-radius: 8px;
}

.Button {
  width: 256px;
  height: 64px;
  max-width: 256px;
  max-height: 64px;
  font-size: 32px;
  justify-self: center;
  white-space: nowrap;
}

.Button:hover {
  font-size: 36px;
}
